# Modelo de DEEP LEARNING baseado na memória de curto prazo - LSTM

## 1. Bibliotecas

In [8]:
import math
import numpy                  as np
import pandas                 as pd
import yfinance               as yf

import matplotlib.pyplot      as plt

from datetime                 import datetime
from datetime                 import timedelta

from sklearn.preprocessing    import MinMaxScaler

from keras.models             import Sequential
from keras.layers             import Dense, LSTM

# pd.options.mode.chained_assigment = None

## Ativo de interesse

In [11]:
acao = 'MGLU3.SA'

inicio = '2014-12-31'
final  = '2023-05-26'

dados_acao = yf.download(acao, inicio, final)

dados_acao

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
2015-01-02  0.243750  0.243750  0.231562  0.232812   0.215259    6323200
2015-01-05  0.235625  0.240625  0.229687  0.237187   0.219304   10326400
2015-01-06  0.238437  0.238437  0.233125  0.234062   0.216414   12572800
2015-01-07  0.237500  0.242187  0.234687  0.241875   0.223638    6454400
2015-01-08  0.239375  0.242187  0.237500  0.240000   0.221905    8393600
...              ...       ...       ...       ...        ...        ...
2023-05-19  3.580000  3.730000  3.530000  3.640000   3.640000  146332000
2023-05-22  3.670000  3.870000  3.660000  3.800000   3.800000  126815600
2023-05-23  3.830000  3.840000  3.640000  3.660000   3.660000  114830900
2023-05-24  3.510000  3.720000  3.480000  3.630000   3.630000  105054300
2023-05-25  3.740000  3.820000  3.720000  3.760000   3.760000  119519600

[2087 rows x 6 columns]

In [13]:
# Selecionaremos o valor de fechamento 'Close', ao invés da cotação ajustada 'Adj Close' (mais comunmente encontrada
# nos modelos de financças), pois precisamos de uma cotação real;

cotacao = dados_acao['Close'].to_numpy().reshape(-1,1) # reescalando os dados com o numpy
cotacao

array([[0.232812  ],
       [0.237187  ],
       [0.234062  ],
       ...,
       [3.66000009],
       [3.63000011],
       [3.75999999]])

In [15]:
# Selecionaremos 80% dos dados para o treinamento

tamanho_dados_treinamento = int(len(cotacao) * 0.8)
tamanho_dados_treinamento

1669

In [ ]:
# 

escalador = MinMaxScaler(feature_range=(0, 1))

dados_entre_0_e_1_treinamento = escalador.fit_transform(cotacao[0:tamanho_dados_treinamento, :])

dados_entre_0_e_1_teste = escalador.transform(cotacao[tamanho_dados_treinamento: , :])

dados_entre_0_e_1 = list(dados_entre_0_e_1_treinamento.reshape(
    len(dados_entre_0_e_1_treinamento))) + list(dados_entre_0_e_1_teste.reshape(len(dados_entre_0_e_1_teste)))

dados_entre_0_e_1 = np.array(dados_entre_0_e_1).reshape(len(dados_entre_0_e_1), 1)

dados_entre_0_e_1